/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* --------------------------------------------- */
/* General */

*, :after, :before {
    box-sizing: border-box;
}



html {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}


a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: large;
    background-color: #62466b;
    color: white;
    border-radius: 1rem;
}

button:hover {
    background-color: white;
    color: #62466b;
}

button:active {
    transform: translateY(4px);
}

/* --------------------------------------------- */
/* General layout */

/* Header and Footer Section*/

header,
footer {
    display: flex;
    justify-content: space-between;
    background-color: #E1F3F0;
    padding: 1rem 15vw;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem ;
    margin-left: 0;
}

.header-logo {
    height: 80px;
}


footer h6 {
    all: unset;
}


.header-right,
.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.header-right ul, 
.footer-right ul {
    display: flex;
    gap: 2rem;
    
}

header a:hover, .home-login-panel a:hover {
    text-decoration: underline;
}

header a {
    font-size: x-large;
    font-weight: bold;
    color: inherit;
}

@media (max-width: 700px) {

    .header-logo {
        height: 50px;
    }

    header a {
        font-size: medium;
        font-weight: bold;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

.main-general {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 0 15vw;
    background: linear-gradient(white, #E1F3F0);
}

@media (max-width: 800px) {
    .main-general {
        padding: 0 10vw;
    }
}

@media (max-width: 700px) {
    .main-general {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr; */

    }
}

/* Nav Side bar */

nav {
    border-right: solid 1px black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: small;
    /* min-width: 110px; */
}


nav a {
    display: inline-block;
    width: 100%;
    padding-left: 1rem;
    border-radius: 1rem;
    color: #62466b;
}

nav a:hover {
    background-color: #62466b;
    color: white;
}

#nav-home-link {
    font-size: 1.1rem;
}

nav hr {
    border: none;
    border-top: solid 1px black;
}

@media (max-width: 700px) {

    #nav-home-link {
        display: none;
    }

    nav {
        border-bottom: solid;
        border-right: none;
    }

    nav li {
        display: inline-block;
    }

    nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    nav hr {
        display: none;
    }

    nav a {
        padding: 0.5rem;
    }
    
}

/* --------------------------------------------- */
/* Home Page */

/* Main Section */

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-intro {
    background-color: #E1F3F0;
    align-self: stretch;
    padding: 0 15vw;
}

.home-intro-text > h1{
    font-size: 4rem;
    color: #62466b;
}

.home-intro-text > h2{
    font-size: 2.5rem;
    color: #62466b;
}

@media (max-width: 700px) {

    .home-intro-text h1 {
        font-size: larger;
    }

    .home-intro-text h2 {
        font-size: small;
    }

}

.home-info-panel {
    margin: 0 15vw;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 3rem 0rem;
    justify-content: space-between;
}

.home-login-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    /* margin-right: 5vw; */
}

.home-login-panel button {
    font-size: 1.5rem;
}




#span-separator {
    margin: 0 15px;
}

.right-info-panel {
    border: 1px solid black;
    padding: 2rem;
    /* justify-self: end; */
    font-size: 1.5rem;
    margin-left: 5vw;
}

@media (max-width:1024px) {
    .home-login-panel {
        display: none;
    }

    .home-info-panel {
        display: flex;
    }
}

@media (max-width: 700px) {
    .right-info-panel {
        font-size: medium;
        padding: 1rem;
    }
}

.home-cards-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-self: stretch;
    padding: 0 15vw;
    background: linear-gradient(white, #E1F3F0);
    
}

@media (max-width: 1440px) {
    .home-cards-panel {
        padding: 0 10vw;
    }
}

@media (max-width: 1265px) {
    .home-cards-panel {
        grid-template-columns: 1fr 1fr;
        padding: 0 10vw;
    }

    .right-info-panel {
        margin: 0;
    }
}

.card-container {
    border: 1px solid black;
    height: 400px;
    width: 250px;
    min-width: 200px;
    overflow: hidden;
    margin: 1rem;
}

@media (max-width: 700px) {
    .card-container {
        height: 100px;
    }

    .home-cards-panel {
        grid-template-columns: 1fr;
        padding: 0 0;
    }
}

.card-text {
    z-index: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #62466b;
    width: 249px;
    justify-content: center;
    align-items: center;
    height: 100px;
    opacity: 65%;
    font-size: x-large;
    color: white;
    
}

.card-image {
    height: 400px;
    position: relative;

}

#yoga-image {
    left: -230px;
}

#meditation-image {
    left: -288px;
}

#stretching-image {
    left: -200px;
}

#healthy-habits-image {
    left: -250px;
}


/* --------------------------------------------- */
/* Contact Page */

.contact-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-info-panel {
    text-align: center;
    font-size: large;
    margin: 1rem;
}

.contact-info-panel a {
    color: inherit;
}

.contact-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.contact-form input, .contact-form textarea {
    font-family: inherit;
    font-size: large;
    line-height: 1.2;
    margin: 1.5rem;
    padding:20px;
    min-width: 270px;
    width: 35vw;
    max-width: 500px;
    background-color: #d5ede8;
    border-radius: 8px;
    border: solid 1px #62466b;
    
}

.contact-form textarea {
    min-height: 100px;
    height: 150px;
}

.address-panel {
    padding-top: 150px;
    width: 40vw;
    text-align: center;
    margin: 1.5rem;
    font-size: large;
}

.address-panel img {
    height: 60px;
}

.address-panel a {
    text-decoration: none;
    color: inherit;
}

#contact-error-notification {
    color: red;
    font-size: smaller;
    text-align: center;
    margin: 0;
    display: none;
}


/* --------------------------------------------- */
/* Submitted page */

.submitted-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    height: 81vh;
    font-size: large;
}


/* --------------------------------------------- */
/* Join page */

.join-panel {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.join-form {
    display: grid;
    grid-template-columns: [join-form-start] 1fr 1fr [join-form-end];
    grid-template-rows: repeat(7 1fr);
    gap: 1rem;
}

@media (max-width: 700px) {
    .join-form {
        grid-template-columns: [join-form-start] 1fr [join-form-end];
    }
}


.join-form > label {
    font-size: larger;
    height: 7rem;
}

.join-form > label > input,
.birthday-select {
    display:block;
    font-family: inherit;
    font-size: large;
    line-height: 1.2;
    margin-top: 0.5rem;
    padding:20px;
    min-width: 270px;
    width: 20vw;
    max-width: 500px;
    background-color: #d5ede8;
    border-radius: 8px;
    border: solid 1px #62466b;
    
}

@media (max-width: 800px) {
    .join-form > label > input,
    .birthday-select {
        min-width: 210px;
        width: 10vw;
    }
}

.error-message {
    color: red;
    display: none;
    margin: 0;
    /* text-align: center; */
    font-size: medium;
}

.join-row-container {
    grid-column: join-form-start / join-form-end;
    min-height: 90px;
}

.grid-label {
    display: grid;
    grid-template-columns: [label-start] 18vw 18vw 18vw [label-end]
}

@media (max-width: 700px) {
    .grid-label {
        grid-template-columns: [label-start] 1fr 1fr [label-end]
    }

    .error-message {
        font-size: small;
    }
}

.block-label {
    grid-column: label-start / label-end;
    margin-bottom: 0.5rem;
    font-size: larger;
}

.radio-option {
    /* all: none; */
    display: flex;
    justify-content: flex-start;
    grid-column-start: span 1;
    font-size: large;
    margin: 8px;
}

.radio-option input {
    margin-right: 1rem;
}

.join-button {
    width: 8rem;
    /* height: 10px; */
    padding: 0.5rem;
    text-align: center;
    align-self: center;
    grid-row-start: 7;
    margin: 1rem 0;
}

@media (max-width: 700px) {
    .join-button {
        grid-row-start: auto;
    }
}